@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
}

header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 5%);
}

.navbar {
    display: block;
}

ul.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

li.nav_item {
    list-style: none;
    margin: 0px 21px;
    display: flex;
    justify-content: flex-end;
}

li.nav_item a {
    text-decoration: none;
}

li.nav_item a.active {
    border-bottom: 1px solid red;
}

.banner {
    width: 100%;
    height: 80vh;
    background: #f9f9f9;
    display: flex;
    align-items: center;

}

.banner h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: #0f394c;
    text-transform: uppercase;
}

.banner h2 {
    color: #1c698c;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.banner .btn {
    text-transform: uppercase;
    background: #49b5e7;
    ;
    margin-top: 20px;
}

.banner .btn a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.about_video {
    background: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.about_right_box {
    margin-top: 30px;
}

.about_right_top h3 {
    font-size: 28px;
    font-weight: 700;
    color: #0f394c;
    margin-bottom: 15px
}

.icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #d0ecf9;
    border-radius: 50px;
    transition: 0.5s;
}

.icon i {
    color: #49b5e7;
    font-size: 32px;
}

.box_text {
    margin-left: 85px;
}

.box_text h4 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #343a40;
    transition: 0.3s;
    font-size: 18px;
}

.description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.about_right_box:hover .icon {
    background: #49b5e7;
    border-color: #49b5e7;
}

.about_right_box:hover .icon i {
    color: #fff;
}

.play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#49b5e7 50%, rgba(73, 181, 231, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(73, 181, 231, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

.play-btn:hover::after {
    border-left: 15px solid #49b5e7;
    transform: scale(20);
}

.Counter {
    background: url(../images/counts-bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
    background-attachment: fixed;
}

.Counter::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.title {
    position: relative;
    color: #0f394c;
    margin-bottom: 40px;
}

.title h3 {
    font-size: 36px;
    font-weight: 700;
}

span {
    font-size: 44px;
    font-weight: 700;
    display: block;
    color: #49b5e7;
    font-family: "Dosis", sans-serif;
}

.counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #444444;
}

.mobile-toggle,
.mobile-menu {
    display: none !important;
}

.clients-wrap {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}

.client_logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    background: #fff;
    height: 120px;
}

.client_logo img {
    height: 50%;
    filter: grayscale(100%);
    transition: 0.3s;
    max-width: 100%;
}

.client_logo:hover img {
    filter: none;
    transform: scale(1.2);
}

.services {
    background-color: #f4fbfe;
}

.section_title {
    margin-bottom: 20pxx;
}

.section_title h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
}

.services_box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    transition: all 0.3s ease-in-out;
}

.services .services_icon {
    position: absolute;
    left: -20px;
    top: calc(50% - 30px);
}

.services .services_icon i {
    font-size: 64px;
    color: #49b5e7;
    line-height: 1;
    transition: 0.5s;
}

.services_content>h4 {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services_content p {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
}

.services_box:hover {
    transform: translateY(-5px);
}

.services_box:hover .services_content h4 {
    color: #49b5e7;
}

.testimonials {
    padding: 80px 0;
    background: url(../images/cta-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(11, 41, 55, 0.9);
}


.testimonial-item {
    text-align: center;
    color: #fff;
}

.testimonials .testimonial-item img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
}

.slick-dots li button:before {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4) !important;
}

.slick-dots li.slick-active button:before {
    color: #1c698c !important;
    opacity: 1 !important;
}

.team {
    background-color: #f4fbfe;
}

.team_title {
    padding-bottom: 30px;
}

.team_title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
}

.team_member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%)
}

.team_member .member_Img {
    position: relative;
    overflow: hidden;
}

.Team_social {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.Team_social a {
    transition: color 0.3s;
    color: #0f394c;
    margin: 0 3px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background: rgba(73, 181, 231, 0.8);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.Team_social a:hover {
    background: #76c7ed;
}

.Team_social i {
    font-size: 18px;
    line-height: 0;
}

.team_info {
    padding: 25px 15px;
}


.team_info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #0f394c;
}

.team_info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}

.team_member:hover .Team_social {
    opacity: 1;
}

.team_member:hover .Team_social {
    opacity: 1;
    bottom: 15px;
}

.contact_title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
}

.map {
    height: 270px;
    /* min-height: 600px; */
}

.contact_left {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.contact .contact_left i {
    font-size: 20px;
    color: #49b5e7;
    float: left;
    width: 44px;
    height: 44px;
    background: #ebf7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact_left i:hover {
    background: #49b5e7;
    color: #fff;
}

.contact_left h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #0f394c;
}

.contact_left p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #2079a1;
}

form {
    width: 100%;
    background: #fff;
}

.form-group {
    padding-bottom: 8px;
}

form input {
    height: 44px;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

form button[type=submit] {
    background: #49b5e7;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.news_letter {
    padding: 50px 0;
    background: #f0f9fd;
    text-align: center;
    font-size: 15px;
}
.news_letter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #0f394c;
}
.news_letter form {
    margin-top: 30px;
    background: #fff;
    padding: 0px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    text-align: left;
}
.news_letter form input[type=email] {
    border: 0;
    padding: 0px 8px;
    width: calc(100% - 100px);
}
.news_letter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #49b5e7;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.gallery_title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
}
.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}
@media only screen and (max-width: 767px) {
    .mobile-toggle {
        display: block !important;
        position: absolute;
        top: -20px;
        right: 0;
    }

    .nav_menu {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
    }

    .mobile-menu li.nav_item.scroll-to {
        display: block;
        margin: 8px;
        text-align: center;
    }


}